@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  background-color: #F9F9FA;
  font-family: 'Inter', sans-serif;
}

/* body{
  height: 100%;
} */

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#react-aria1156578836-:r2g:-tabpanel-user{
  padding: 0rem 0rem !important;
}

/* Sidebar */
.sidebar {
  box-sizing: border-box;
}

.sidebar-row:active {
  border-left:  #f6f2ff; /* Đổi màu nền */
}
.sidebar-row:active .sidebar-icon {
  color:  #7c3aed; /* Đổi màu icon */
}
.sidebar-row:active .title {
  color:  #7c3aed; /* Tô đậm */
}

@layer components {
  .icon {
    @apply hidden md:inline-flex p-1.5 h-9 w-9 rounded-full text-gray-700  cursor-pointer hover:bg-gray-100;
  }
}

/* Progress Bar */
#nprogress .bar {
  background:  #5F00F5 !important;
}

/* Custom Emoji Mart */
em-emoji-picker {
  position: absolute;
  padding-right: 40px;
}

.limit-word{
  max-width: 160px;
}

.golden-star{
  color: #fbc500 !important;
}
